<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
	<title>Cherry.js</title>
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='bootstrap.js'></script>
	<script type='text/javascript' src='cherry.js'></script>
	<script type='text/javascript' src='tmpl.js'></script>
	<link rel='stylesheet' type='text/css' href='bootstrap.css'>
</head>
<body>
	<h1>Teste!</h1>
	<a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>
	<!--<script type='text/x-tmpl' id='cherry-field'>
		{%  var output = [];
			o.class = o.class ? o.class + ' cherry-input' : 'cherry-input';
			$.each(o, function( attr, value ){
				if( attr == 'title'){ o.class += ' cherry-tooltip' }
				else if ( attr == 'class' || attr == 'label' ){ return true }
				output.push( attr + '=' + value );
			}); 
		%}
		<div class='cherry-field {%= o.type %}'>
		{% if( o.type == 'checkbox' ){ %}
		<label class='cherry-label {%= o.type%}'>
			<input {%= output.join(' ') %} class='{%= o.class %}' >
			{%= o.label %}
		</label>
		{% } else { %}
		<label class='cherry-label'>{%= o.label %}</label>
		<input {%= output.join(' ') %} class='{%= o.class %}' >
		{% } %}
		</div>
	</script>

	<script type='text/x-tmpl' id='cherry-form'>
		<form action='#' class='cherry-form{%= o.resource ? ' '+ o.resource : '' %}'>
			<fieldset>
				<legend>{%= o.title %}</legend>
				{% $.each(o.fields, function(name, attr){ %}
					{% include(App.templates.field, attr); %}
				{% }); %}
				<div class='form-actions'>
					<button class='btn submit-cherry-form'>{%= o.submit || 'Submit'  %}</button>
				</div>
			</fieldset>
		</form>
	</script>-->
	<script type='text/javascript'>
$(function(){
/*
	$('.cherry-tooltip').attr('data-toogle', 'tooltip').tooltip();
	$('.submit-cherry-form').on('click',function(ev){
		ev.preventDefault();
	})

	var teste = new App.base('client','clients');
		teste.setup({ name: String, nascimento: Date, altura: Number });
		$('body').append( teste.makeForm({ title:'Adicionar', fields:{ name: { value: 'Gabriel' } } }) );
*/
	var teste = new App.base('client','clients');
	
	teste.setup({ name: String, nascimento: Date, altura: Number, padrao: Boolean });
	$('body').append( teste.makeForm({ title:'Adicionar Cliente' }) );
	teste.onSubmit(function(a){
		teste.set(a);
		teste.create(function(){

		});
	});
});
	</script>
</body>
</html>